{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "preset-react": {
          "runtime": "automatic",
          "importSource": "react"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-private-methods",
    "@babel/plugin-transform-private-property-in-object"
  ],
  "env": {
    "edge": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {},
            "preset-react": false
          }
        ]
      ]
    }
  }
} 